.name {
    text-align: center;
    color: blueviolet;
    transition: 1s;
}
.dark {
    background-color:black;
    color:whitesmoke;
    transition: 1s;
}
#body {
    transition: 1s;
}
nav {
    background-color: #CBC3E3;
    float: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a {
    padding-left: 10px;
    padding-right: 10px;
}